.button {
  display: inline-block;
  padding: var(--spacing-1) var(--spacing-2);
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
}

.button:hover {
  background-color: var(--primary-color);
  color: white;
}

.outlined {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.link {
  background-color: transparent;
  color: var(--primary-color);
  border: none;
}

.link:hover {
  color: var(--primary-color);
  background-color: transparent;
  border-radius: 0;
  border-bottom: 1px solid var(--primary-color);
}
