@import "../styles/variables/utils.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: var(--font-size-p);
  font-family: "Inter", sans-serif;
  color: var(--dark-color);
  padding: 0 var(--spacing-10);

  @media (max-width: 1024px) {
    padding: 0 var(--spacing-6);
  }

  @media (max-width: 768px) {
    padding: 0 var(--spacing-2);
  }
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: 700;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: var(--spacing-1);
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: var(--spacing-1);
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: var(--spacing-1);
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}
