:root {
  --grey-color: rgb(58, 58, 58);
  --primary-color: #b85b05;
  --secondary-color: rgb(55, 33, 12);
  --light-grey: rgb(224, 223, 223);
  --grey-color: rgb(146, 146, 146);
  --dark-color: rgb(19, 19, 19);
}
