:root {
  --primary-color: #b85b05;
  --secondary-color: rgb(55, 33, 12);
  --white-color: rgb(255, 255, 255);
  --light-grey: rgb(224, 223, 223);
  --grey-color: rgb(146, 146, 146);
  --dark-color: rgb(19, 19, 19);
  --success-color: rgb(0, 128, 0);
  --error-color: rgb(255, 0, 0);
}
