:root {
  --font-size-h1: clamp(3rem, 5vw, 4rem);
  --font-size-h2: clamp(2rem, 4vw, 3.6rem);
  --font-size-h3: clamp(1.8rem, 3.5vw, 2.4rem);
  --font-size-h4: clamp(1.5rem, 3vw, 2rem);
  --font-size-h5: clamp(1.2rem, 2.5vw, 1.6rem);
  --font-size-p: 1.4rem;
}
