.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: var(--spacing-1);
  border-radius: 5px;
  z-index: 1000;
  color: var(--white-color);
}

.notification.success {
  background-color: var(--success-color);
}

.notification.error {
  background-color: var(--error-color);
}

.notification.info {
  background-color: var(--primary-color);
}

.notificationButton {
  background: none;
  border: 1px solid var(--white-color);
  border-radius: 4px;
  color: var(--white-color);
  font-weight: bold;
  cursor: pointer;
  padding: 6px 10px;
  margin-top: var(--spacing-1);
}
