.footer {
  width: 100%;
  text-align: left;
  border-top: 1px solid var(--light-grey);
  padding: var(--spacing-2) var(--spacing-10);
  margin-top: auto;
  @media (max-width: 1024px) {
    padding: var(--spacing-2) var(-spacing-6);
  }

  @media (max-width: 768px) {
    padding: var(--spacing-2);
  }
}

.footerColumns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: var(--spacing-3);

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    row-gap: var(--spacing-2);
  }
}

.footerLinks {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footerLinks li {
  margin: 0.5rem 0;
}

.footerLinks a {
  color: var(--grey-color);
  font-size: var(--font-size-small);
}

.footerLinks a:hover {
  color: var(--primary-color);
}

.footer p {
  text-align: center;
  margin-top: var(-spacing-6);
  font-size: 1.2rem;
  color: var(--grey-color);
}
