.offerTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: var(--spacing-10);
}

.offerTable th,
.offerTable td {
  padding: 24px;
  text-align: left;
}

.offerTable tr {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--spacing-1);
  margin-bottom: var(--spacing-1);
}

.logo {
  width: 50px;
  height: auto;
}

.interest {
  color: var(--primary-color);
  font-weight: 700;
}

@media (max-width: 991px) {
  .offerTable th {
    display: none;
  }

  .offerTable,
  .offerTable tbody,
  .offerTable tr,
  .offerTable td {
    display: block;
    width: 100%;
  }

  .offerTable td {
    text-align: right;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    position: relative;
  }

  .logo {
    width: 30px;
    height: auto;
  }
  .offerTable td::before {
    content: attr(data-label);
    position: absolute;
    left: 12px;
    font-weight: bold;
    text-align: left;
  }

  .offerTable tr {
    margin-bottom: 3rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .logoContainer {
    justify-content: end;
  }
}

.offerTableHeading {
  text-align: center;
  margin: var(--spacing-3) 0;
}
